<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="quokka.jellenberger.ogrocer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ShoppingCartView"
            android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".RouteSelectorView"
            android:label="Route Selector"
            android:parentActivityName=".ShoppingCartView" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShoppingCartView" />
        </activity>
        <activity
            android:name=".ItineraryView"
            android:label="Itinerary"
            android:parentActivityName=".RouteSelectorView" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RouteSelectorView" />
        </activity>
        <activity
            android:name=".ReceiptInputFragment"
            android:label="Receipt Input"
            android:parentActivityName=".ItineraryView" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItineraryView" />
        </activity>
    </application>

</manifest>
